@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,100;1,300;1,600&family=Roboto:wght@500&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}
/* header section start */
header{
   
    width: 100%;
    min-height: 50vh;
    background-image: linear-gradient(180deg, rgb(0 0 0 / 70%) 0%, rgb(0 0 0 / 70%) 100%), url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
.container{
    width: 80%;
    margin: auto;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0%;
}

nav img{
    width:150px;

}

.nav-links{
   display: flex;
   text-align: right;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 12px;
}
.nav-links ul li a{
    text-decoration: none;
    color: #fff;
    font: size 16px;
}
.nav-links ul li::after{
    content: " ";
    width: 0%;
    height: 3px;
    background-color: #ff0404;
    display: block;
    margin: auto;
    transition: 0.3s;
}
.nav-links ul li:hover::after{
    width: 100%;


}

.nav-links .fa-xmark{
    visibility: hidden;
}

nav .fa-bars{
    visibility: hidden;
}

.head-txt{
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.head-txt h1{
    margin-top: 5%;
    font-size:40px;
    color: #fff;
}

@media (max-width: 640px) { /* header section responsive */
    .container{
        width: 90%;
    }
    nav{
        padding: 4% 0%;
    }
    nav .fa-bars{
        visibility: visible;
        display: block;
        font-size: 22px;
        color: #fff;
    }
    .nav-links{
        display: none;
    }

    .nav-links{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        height: 50%;
        width: 200px;
        background: #e23719;
        text-align: left;
        z-index: 2;
    }

    .nav-links .fa-xmark{
        visibility: visible;
        color: #fff;
        font-size: 22px;
        margin: 12px;
        display: block;
    }

    .nav-links ul li{
        display: block;
    }

    
  
}
/* header section end */

/*main start */
   
main{
    
    display: flex;
    justify-content: center;
    margin: 10%;
  
}


main .one{
    height: auto;
    width: 100%;
    /* border: 1px solid black; */
}
/* main .two{
    height: 100vh;
    width: 80%;
    border: 1px solid black;
} */

.img-box img{
    
    width: 100%;
    height: auto;
   
}


.txt h2{
    font-size: 50px;
    font-weight: 500;
}

.txt p{
    color: #666;
    text-align: justify;
}

form{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    border: 1px solid #858585c9;
    padding: 3%;
    
}

form h2{
    font-size:35px ;
    font-weight: 500;
}
input{
    text-align:left;
    display: block;
    margin: 20px 0px;
    width: 100%;
    padding: 16px;
    border: none;
    font-size: 18px;
    background-color: rgba(63, 249, 206, 0.994);
    border-radius: 5px;
   
    

}
input:focus{
    outline: none;
}
input:hover{
    border: 3px solid #e23719;
    background-color: #d6d0d094;
}
 .comment{
    text-align: start; 
    padding-bottom:250px;
    font-size: 18px;
   
} 
 form button{
    width: 25%;
    padding: 5px;
    font-size: 16px;
    border: transparent;
    transition: 0.5s;
 }
 form button:hover{
    border:  #e23719;
    background-color:  #e23719;
    color: #000000;
 }





main .two{
    height: 100vh;
    width: 80%;
    /* border: 1px solid black; */
}



.post-box{
    margin: 0 0px 0 20px;
}

.heading{
   
    font-size: 25px;
    color: #fff;
    background-color: #e23719;
    text-align: center;
    width: 100%;
   
   
}

.two table td {
   width:100%;
   font-size: 20px;
   line-height: 70px;
}


@media (max-width:640px) {
    main{
    
        display: flex;
        flex-direction: column;
        margin: 10%;
      
    }
    .post-box{
        margin: 20% 0 ;
       
    }
    form button{
        width: 40%;
        font-size: 20px;
        padding: 5px;
    }

    footer{
        margin-top: 70%;
    }
    
}


/*footer start */
footer section{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


footer section p{
    font-size: 12px;
    width: 80%;
    text-align: center;
    color: #666;
    margin-top: 25px;
    
}


footer section div{
    margin-top: 10px;
   
   
   
}
footer section div i{
    padding: 7px;
    width: 32px;
    height: 32px;
    margin: 8px;
    font-size: 18px;
    color: #ffff;
    border-radius: 50%;
}
.fa-brands:hover{
    box-shadow: 0px 0px 10px 3px #e23719;
}

